* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: $dark-gray-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
}

.container {
    width: $page-width;
    margin: 0 auto;
    padding: 0;
}

.file-manager-pane {
    width: 20vw;
    max-height: calc(100vh - #{$menu-height});
    border-right: $divider;
    overflow: auto;
    display: block;
    float: left;
}

.result-pane {
    width: 80vw;
    float: left;
    overflow-y: scroll;
    max-height: calc(100vh - #{$menu-height});
    .html-file {
        display: block;
        font-size: 2.5em;
        font-weight: 700;
        font-family: monospace;
        color: #ffec5e;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        margin: 20px 50px;
        background-color: #848bad;
    }
    .css-files-block {
        margin-top: 10px;
        text-align: left;
        .css-file {
            display: inline-block;
            font-family: monospace;
            font-size: 0.7em;
            color: #ffffff;
            border-radius: 5px;
            text-align: center;
            padding: 10px 20px;
            margin: 5px;
            background-color: #40e06e;
        }
    }
    .selectors-block {
        display: block;
        margin: 10px;
        text-align: left;
        .selector {
            display: inline-block;
            border-radius: 5px;
            font-size: 0.7em;
            text-align: center;
            padding: 10px 20px;
            margin: 5px;
            color: #424242;
            background-color: #bbff8f;
        }
    }

}

.menu-container {
    width: 100vw;
    height: $menu-height;
    text-align: left;
    border-bottom: $divider;
    padding: 10px 5px;

    .btn {
        padding: 5px;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 15%;
        margin: 0 6px;
        cursor: pointer;
        color: #fafafa;

    }

    .btn-add-files {
        background-color: #3aca34;
    }

    .btn-remove-files {
        background-color: #c5074f;
    }

    .btn-analyze-file {
        background-color: #d47d37;
    }
    .divider-v {
        display: inline-block;
        border-right: $divider;
        height: 25px;
        margin: 0 8px;
        vertical-align: top;
    }
}

.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    font-size: 1.4em;
    margin: 30px 10px 20px;
    font-weight: normal;
    color: #777;
}

input {
    line-height: 2em;
    border: solid 1px $light-gray-color;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 5px;
    color: $dark-gray-color;
}

input[type='file'] {
    display: none;
}

ul {
    padding: 2px;
    list-style-type: none;
    li {
        padding: 5px;
    }
}

ul.selected-file-list {
    display: block;
    margin: 5px auto;
    text-align: left;
    img {
        width: 30px;
        height: auto;
    }
    li {
        text-align: left;
        padding: 10px 10px;
        display: block;
        font-family: monospace;
        font-size: 1.1em;
        cursor: default;
        //border-bottom: solid 1px #eeeeee;
    }
    li:hover {
        background-color: #f3f3f3;
    }
}

.selected-file-list {
    .html-file, .css-file {
        margin-right: 10px;
    }
    .html-file {
        color: #96d871;
    }
    .css-file {
        color: #8ba3c9;
    }
    .close-icon {
        color: #ff6262;
        cursor: pointer;
        float: right;
    }
}