* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: $white-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-color: $white-color;
}

body {
    padding-top: $header-height;
}

input {
    line-height: 2em;
    border: solid 1px $white-color;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 5px;
    color: $dark-gray-color;
}

input[type='file'] {
    display: none;
}

%scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: darken($dark-gray-color, 7%);
    }
    &::-webkit-scrollbar-thumb {
        background: $mid-gray-color;
    }
}
