.btn {
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    margin: 2px 5px;
    border-radius: 7px;
    cursor: pointer;
    color: #fdfdfd;
    padding: 0 15px 0 2px;
    height: 41px;
    span {
        vertical-align: middle;
        font-weight: bold;
        font-size: 1.1em;
        display: inline-block;
        padding: 0;
    }
    .icon {
        padding: 9px;
        vertical-align: middle;
    }
}

.btn.add-files {
    background-color: $green-color;
}

.btn.remove-files {
    background-color: $red-color;
}

.btn.analyze-files {
    background-color: $orange-color;
}

.btn.disabled {
    background-color: #808080 !important;
    color: #b9b9b9 !important;
    border: solid 1px #acacac !important;
    cursor: not-allowed !important;
}