.container {
    width: $page-width;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    width: 100vw;
    height: $header-height;
    text-align: center;
    background-color: $dark-gray-color;
    @extend %mid-align;
    .btn-wrapper {
        display: inline-block;
    }
}

.file-list-container {
    height: 100%;
}

.sidebar {
    width: $sidebar-width;
    color: $light-gray-color;
    background-color: $dark-gray-color;
    height: calc(100vh - #{$header-height});
    overflow: auto;
    display: block;
    float: left;
    &::-webkit-scrollbar {
        width: 10px;
        padding: 1px;
    }
    &::-webkit-scrollbar-track {
        background: darken($dark-gray-color, 5%);
    }
    &::-webkit-scrollbar-thumb {
        background: lighten($dark-gray-color, 15%);
    }
}

.main-panel {
    width: calc(100vw - #{$sidebar-width});
    overflow-y: auto;
    height: calc(100vh - #{$header-height});
    position: relative;
}