.container {
    width: $page-width;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    width: 100vw;
    height: $header-height;
    text-align: center;
    padding-top: 17px;
    background-color: $dark-gray-color;
    .btn-wrapper {
        height: 60%;
    }
    .status-bar {
        text-align: left;
        padding: 2px 10px;
        border-top: solid 1px $border-color;
        background-color: $mid-gray-color;
        height: 40%;
        color: $light-gray-color;
        font-family: monospace;
        font-size: 1.3em;
        white-space: nowrap;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin: -0.05em;
        }
        div {
            display: inline-block;
            span {
                vertical-align: middle;
                display: inline-block;
                margin-right: 50px;
                font-size: .9em;
            }
        }
    }
}

.sidebar {
    width: 20vw;
    color: $light-gray-color;
    background-color: $dark-gray-color;
    height: calc(100vh - #{$header-height});
    overflow: auto;
    display: block;
    float: left;
    &::-webkit-scrollbar {
        width: 10px;
        padding: 1px;
    }
    &::-webkit-scrollbar-track {
        background: darken($dark-gray-color, 5%);
    }
    &::-webkit-scrollbar-thumb {
        background: lighten($dark-gray-color, 15%);
    }
}

.result-pane {
    width: 80vw;
    float: left;
    overflow-y: auto;
    max-height: calc(100vh - #{$header-height});
    .html-file {
        display: block;
        font-size: 2.5em;
        font-weight: 700;
        font-family: monospace;
        color: #ffec5e;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        margin: 20px 50px;
        background-color: #848bad;
    }
    .css-files-block {
        margin-top: 10px;
        text-align: left;
        .css-file {
            display: inline-block;
            font-family: monospace;
            font-size: 0.7em;
            color: #0a6126;
            border-radius: 5px;
            text-align: center;
            padding: 10px 20px;
            margin: 5px;
            background-color: #40e06e;
        }
    }

    .selectors-block {
        display: block;
        margin: 10px;
        text-align: left;
        .selector {
            display: inline-block;
            border-radius: 5px;
            font-size: 0.7em;
            text-align: center;
            padding: 10px 20px;
            margin: 5px;
            color: #424242;
            background-color: #bbff8f;
            cursor: pointer;

            &.selected {
                background-color: #ffe004 !important;
            }
        }
    }

}