$page-width: 100vw;
$menu-height: 45px;

$base-font-family: Arial, serif;
$base-font-size: 0.9em;
$base-color: #b9ddea;
$light-gray-color: #b4b4b4;
$dark-gray-color: #525252;
$html-color: #aff4df;
$css-color: #f0e8ff;

$divider: solid 2px #e8e8e8;