$page-width: 100vw;
$header-height: 80px;
$sidebar-width: 25vw;
$toolbar-height:40px;

$base-font-family: Arial;
$base-font-size: 0.9em;

$light-gray-color: #ececec;
$dark-gray-color: #454545;
$mid-gray-color: lighten($dark-gray-color, 12%);
$blue-color: #51a1f5;
$green-color: #37be31;
$red-color: #c5074f;
$orange-color: #ea7b0d;
$border-color: lighten($dark-gray-color, 22%);
$graph-gray-color: #dfdfdf;